:root {
	--paddingHorizontal: 0.4rem;
	--paddingVertical: 0.2rem;

	/*
	Ubuntu Theme:
	--consoleBgColor: #340024;
	--consoleTextColor: #fff;
	--consoleUserInfoTextColor: #23f706;
	--consoleCurrDirTextColor: #039be5;
	*/

	--consoleBgColor: #000;
	--consoleTextColor: #fff;
	--consoleUserInfoTextColor: #23f706;
	--consoleCurrDirTextColor: #039be5;
}

@font-face {
	src: url('./fonts/Ubuntu-R.ttf');
	font-family: AppFont;
}

body, body * {
	font-family: AppFont !important;
}

input {
	font-family: inherit;
	font-size: inherit;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
}

.matrix-effect-container, .matrix-effect {
	width: 100%;
	height: 100%;
}

.linux-console-container {
	width: 100%;
	height: 100%;
}

.linux-console-container > .linux-console {
	width: calc(100% - (var(--paddingHorizontal) * 2));
	min-height: calc(100% - (var(--paddingVertical) * 2));
	background: var(--consoleBgColor);
	color: var(--consoleTextColor);
	padding: var(--paddingVertical) var(--paddingHorizontal);
	overflow-y: auto;
}

.linux-console-container > .linux-console > .linux-console-cmd-row,
.linux-console-container > .linux-console > .linux-console-cmd-output {
	width: calc(100% - (var(--paddingHorizontal) * 2));
	display: flex;
	margin-bottom: var(--paddingVertical);
	margin-left: 0;
	margin-right: 0;
}

.linux-console-container > .linux-console > .linux-console-cmd-row > .linux-console-cmd-prompt {
	width: auto;
	float: left;
	margin-right: 0.5em;
	user-select: none;
	white-space: nowrap;
}

.linux-console-container > .linux-console > .linux-console-cmd-row > .linux-console-cmd-prompt > .linux-console-cmd-prompt-user-info {
	color: var(--consoleUserInfoTextColor);
	margin-right: 0.1em;
}

.linux-console-container > .linux-console > .linux-console-cmd-row > .linux-console-cmd-prompt > .linux-console-cmd-prompt-curr-dir {
	color: var(--consoleCurrDirTextColor);
	margin-left: 0.1em;
	margin-right: 0.1em;
}

.linux-console-container > .linux-console > .linux-console-cmd-row > .linux-console-cmd-row-cmd-txt-container {
	width: auto;
	float: left;
	flex-grow: 1;
}

.linux-console-container > .linux-console > .linux-console-cmd-row > .linux-console-cmd-row-cmd-txt-container > .linux-console-cmd-row-cmd-txt {
	width: 100%;
	border: unset;
	outline: unset;
	padding: 0;
	margin: 0;
	background: transparent;
	color: inherit;
}

.linux-console-empty-space {
	width: 100%;
	height: 100vh;
}

.linux-console-container > .linux-console > .linux-console-cmd-output {
	flex-direction: column;
	word-break: break-all;
}

.linux-console-container > .linux-console > .linux-console-cmd-output > div:not(:last-child),
.linux-console-container > .linux-console > .linux-console-cmd-output > div div:not(:last-child) {
	margin-bottom: 1rem;
}

.linux-console-container > .linux-console > .linux-console-cmd-output p {
	margin-top: 0;
	margin-bottom: 0;
}

.linux-console-container > .linux-console > .linux-console-cmd-output p:not(:last-child) {
	margin-bottom: 0.5rem;
}

.linux-console-container > .linux-console > .linux-console-cmd-output h1,
.linux-console-container > .linux-console > .linux-console-cmd-output h2,
.linux-console-container > .linux-console > .linux-console-cmd-output h3,
.linux-console-container > .linux-console > .linux-console-cmd-output h4,
.linux-console-container > .linux-console > .linux-console-cmd-output h5,
.linux-console-container > .linux-console > .linux-console-cmd-output h6 {
	margin-top: 0;
	margin-bottom: 0;
}

.linux-console-container > .linux-console > .linux-console-cmd-output h1:not(:last-child),
.linux-console-container > .linux-console > .linux-console-cmd-output h2:not(:last-child),
.linux-console-container > .linux-console > .linux-console-cmd-output h3:not(:last-child),
.linux-console-container > .linux-console > .linux-console-cmd-output h4:not(:last-child),
.linux-console-container > .linux-console > .linux-console-cmd-output h5:not(:last-child),
.linux-console-container > .linux-console > .linux-console-cmd-output h6:not(:last-child) {
	margin-bottom: 1rem;
}

.typing-effect.typing::after {
	content: '|';
	animation: blinkingText 1s infinite;
}

a,
.text-link {
	color: #FFD700;
	text-decoration: none;
}

a:hover {
	color: #FFD700;
	text-decoration: underline;
}

.m-0 {
	margin: 0 !important;
}

.clickable {
	cursor: pointer;
}

.card {
	position: relative;
	border: 1px dashed;
	padding: var(--paddingVertical) var(--paddingHorizontal);
	margin: 0 !important;
}

.card-title {
	border-bottom: 1px dashed;
	padding-bottom: var(--paddingVertical);
}

.grid {
	display: grid;
	grid-template-columns: auto auto auto;
	row-gap: 1em;
	column-gap: 1em;
}

.linux-console .matrix-effect-container {
	width: 100%;
	height: 100vh;
}

.txt-click-to-copy {
	display: none !important;
}

*.hide {
	display: none !important;
}

dl {
	margin: 0 !important;
}

dl > dt:not(:first-child) {
	margin-top: 0.5rem;
}